# Importing some packages

In [2]:
import pandas as pd

# Load data

In [3]:
df2 = pd.read_csv('solution2_submit.csv')
df11 = pd.read_csv('solution11_submit.csv')

# Create predictions

In [6]:
test_df = pd.read_excel('Test.xlsx')
test_df.head()

,Unnamed: 0,St_Hour,St_Day,St_Month,St_Year,User_type,Datetime
0,0,0,1,6,2016,occasional,2016-06-01 00:00:00
1,1,0,1,6,2016,subscribed,2016-06-01 00:00:00
2,2,1,1,6,2016,occasional,2016-06-01 01:00:00
3,3,1,1,6,2016,subscribed,2016-06-01 01:00:00
4,4,2,1,6,2016,occasional,2016-06-01 02:00:00

In [7]:
df2['User_Type'] = test_df['User_type'].values
df11['User_Type'] = test_df['User_type'].values

In [10]:
df2_part = df2[df2['User_Type']=='subscribed']['Rental_Bicycles_Count'].reset_index()
df11_part = df11[df11['User_Type']=='occasional']['Rental_Bicycles_Count'].reset_index()
sub_df = pd.concat([df2_part, df11_part], axis=0)
sub_df.sort_values('index', ascending=True, inplace=True)
sub_df.set_index('index', inplace=True)
sub_df.to_csv('solution_combo_2_11_submit.csv', index=False)
sub_df.head()

       Rental_Bicycles_Count
index
0                 183.972031
1                 361.923676
2                 135.288040
3                 342.556396
4                  89.195694