# Importing some packages

In [1]:
import numpy as np
import pandas as pd

# Loading data

In [2]:
train_df = pd.read_excel('Train.xlsx')
test_df = pd.read_excel('Test.xlsx')
sub_df = pd.read_csv('Submission.csv')

# EDA

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59709 entries, 0 to 59708
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             59709 non-null  int64
 1   St_Hour                59709 non-null  int64
 2   St_Day                 59709 non-null  int64
 3   St_Month               59709 non-null  int64
 4   St_Year                59709 non-null  int64
 5   User_type              59709 non-null  object
 6   Datetime               59709 non-null  datetime64[ns]
 7   Rental_Bicycles_Count  59709 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 3.6+ MB

In [5]:
train_df.head()

,Unnamed: 0,St_Hour,St_Day,St_Month,St_Year,User_type,Datetime,Rental_Bicycles_Count
0,0,0,1,1,2013,occasional,2013-01-01 00:00:00,20
1,1,0,1,1,2013,subscribed,2013-01-01 00:00:00,26
2,2,1,1,1,2013,occasional,2013-01-01 01:00:00,23
3,3,1,1,1,2013,subscribed,2013-01-01 01:00:00,23
4,4,2,1,1,2013,occasional,2013-01-01 02:00:00,20

The training data doesn't contain any missing values judging by the tables above.

In [10]:
train_df.duplicated().sum()

0

The output of the above cell confirms that there are no duplicates in the training data.

In [4]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1440 non-null   int64
 1   St_Hour     1440 non-null   int64
 2   St_Day      1440 non-null   int64
 3   St_Month    1440 non-null   int64
 4   St_Year     1440 non-null   int64
 5   User_type   1440 non-null   object
 6   Datetime    1440 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 78.9+ KB

In [6]:
test_df.head()

,Unnamed: 0,St_Hour,St_Day,St_Month,St_Year,User_type,Datetime
0,0,0,1,6,2016,occasional,2016-06-01 00:00:00
1,1,0,1,6,2016,subscribed,2016-06-01 00:00:00
2,2,1,1,6,2016,occasional,2016-06-01 01:00:00
3,3,1,1,6,2016,subscribed,2016-06-01 01:00:00
4,4,2,1,6,2016,occasional,2016-06-01 02:00:00

In [8]:
sub_df.head()

   Rental_Bicycles_Count
0                      0
1                      0
2                      0
3                      0
4                      0

## Univariate analysis

### Categorical data

In [11]:
train_df['User_type'].value_counts()

User_type
subscribed    29878
occasional    29831
Name: count, dtype: int64

In [12]:
test_df['User_type'].value_counts()

User_type
occasional    720
subscribed    720
Name: count, dtype: int64