# Import packages

In [1]:
import pandas as pd

import matplotlib.pyplot as plt


from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

# Load data

In [12]:
test_df = pd.read_excel('Test.xlsx')

df_s = pd.DataFrame()
df_o = pd.DataFrame()

test_df_s = pd.DataFrame()
test_df_o = pd.DataFrame()

for i in [2, 11]:

    temp_df = pd.read_csv(f'pred_solution{i}.csv')

    df_s = pd.concat([df_s, temp_df['subscribed'].apply(lambda x: 0 if x < 0 else x)], axis=1)
    df_s.rename(columns={'subscribed': f's{i}'}, inplace=True)

    df_o = pd.concat([df_o, temp_df['occasional'].apply(lambda x: 0 if x < 0 else x)], axis=1)
    df_o.rename(columns={'occasional': f's{i}'}, inplace=True)

    temp_test_df = pd.read_csv(f'solution{i}_submit.csv')
    temp_test_df['User_type'] = test_df['User_type'].values

    test_df_s = pd.concat(
        [
            test_df_s, 
            temp_test_df[temp_test_df['User_type']=='subscribed']['Rental_Bicycles_Count'].\
                apply(lambda x: 0 if x < 0 else x)], axis=1)
    test_df_s.rename(columns={'Rental_Bicycles_Count': f's{i}'}, inplace=True)

    test_df_o = pd.concat(
        [
            test_df_o, 
            temp_test_df[temp_test_df['User_type']=='occasional']['Rental_Bicycles_Count'].\
                apply(lambda x: 0 if x < 0 else x)], axis=1)
    test_df_o.rename(columns={'Rental_Bicycles_Count': f's{i}'}, inplace=True)

In [9]:
df_s.head()

          s2        s11
0  89.309135   9.533608
1  74.309204  11.366840
2  45.462666   1.663711
3  52.781109   0.000000
4  43.850899   7.532129

In [10]:
df_o.head()

          s2        s11
0  31.972851  11.085679
1  37.756393   1.579756
2  24.956066   0.133297
3  26.213642   0.000000
4  35.088497   2.362867

In [13]:
test_df_s.head()

           s2         s11
1  361.923676  240.850494
3  342.556396  145.234634
5  227.015472   65.673340
7  158.736374   31.720930
9  102.697601   38.757355

In [14]:
test_df_o.head()

           s2         s11
0  192.490341  183.972031
2  126.959404  135.288040
4   84.722290   89.195694
6   41.215275   49.360397
8   18.443666   33.111454

# Split data

In [15]:
train_df_s = df_s.iloc[:-720]
valid_df_s = df_s.iloc[-720:]

print(train_df_s.shape, valid_df_s.shape)

(29198, 2) (720, 2)

In [16]:
train_df_o = df_o.iloc[:-720]
valid_df_o = df_o.iloc[-720:]

print(train_df_o.shape, valid_df_o.shape)

(29198, 2) (720, 2)